# JWT Secret
JWT_SECRET = "any_strong_secret"

ADMIN_EMAILS = "test@gmail.com,admin@gmail.com (emails should seprate with commma)"

# Neon Database(postgress)
DATABASE_URL = "Enter neon database connection string"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET=""

# Inngest
INNGEST_EVENT_KEY="" 
INNGEST_SIGNING_KEY=""

# SMTP Credentials
SENDER_EMAILS =""
SMTP_USER=""
SMTP_PASS=""


# STRIPE Payment
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""  